body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold {
  font-weight: bold;
}

.city-container {
  display: flex;
}

.image-cropper {
    max-width: 500px;
    max-height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.city-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; 
  height: 100%;
  width: auto;
}
